[user]
  name = faultable
  email = oss@faultable.dev
  signkey = 32CAA966980BFE12

[core]
  pager = delta --plus-color="#012800" --minus-color="#340001" --theme='Monokai Extended'
  excludesfile = ~/.config/git/gitignore

[interactive]
  diffFilter = delta --color-only

[commit]
  gpgsign = true

[includeIf "gitdir:~/Developer/evilfactorylabs/"]
  path = ~/.config/git/evilfactorylabs

[credential]
  helper = store

[difftool]
  prompt = true

[init]
  defaultBranch = main
